{% extends 'base.html' %}

{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static "css/portal/forms.css" %}">
{% endblock extracss %}

{% block content %}

<div id="rename_vapps">
    <h3>Rename Vapp</h3>
    <form action="{% url 'Vapp:rename_vapp' vapp_vcd_id %}" method="post" onsubmit="return confirm('Are you sure you want to Rename this Vapp')">
        {% csrf_token %}
        <div class="input text required">
        <label class="required" for="new_vapp_name">Vapp Name: </label>
        <input id="new_vapp_name" type="text" required name="new_vapp_name" value="{{vapp_name}}">
        </div>
        <input type="submit" class='btn btn-info monitor_button' value="Rename" >
    </form>
</div>
{% endblock content %}
