{% extends 'base.html' %}
{% block content %}
<div id="vapp_table">
    <table id="datatable_vapps" class="table, table-stripped display compact dataTable no-footer" style="width: 100% !important">
        <thead>
            <tr>
                <th>vApp Name</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Gateway</th>
                <th>Created By</th>
                <th>Sharing</th>
                <th>Date Created</th>
                <th>Vms</th>
                <th>Running CPUs</th>
                <th>Running Memory (GB)</th>
                <th>Actions</th>
               
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock content %}